/* You can add global styles to this file, and also import other style files */

body
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    /* @media only screen and (max-width: 991px) {
        .bd-example {
            padding-top: 100px;
        } */
}
